* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
:focus {
    outline: 0;
}

body {
    padding: 100px;
    min-height: 2000px;
}


.demo {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: red;
}



[class*="box-"] {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
    position: relative;
    background-color: yellow;
}
.box-1::after {
    content: '';
    display: block;
    width: 0;
    left: 0;
    /* right: 100%; */
    bottom: 0;
    position: absolute;
    height: 5px;
    transition: width 1s;
}
.box-1:hover::after {
    background-color: red;
    width: 100%;
}

/* .box-1 .line {
    width: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 5px;
    background-color: red;
    transition-property: width;
    transition-duration: 1s;
}
.box-1:hover .line {
    width: 100%;
} */
/* .box-1::before {
    content: 'BEFORE';
    display: block;
}
.box-1::after {
    content: 'AFTER';
    display: block;
} 
Giai đoạn đầu
width: 0

Rê chuột vào 
width: 100%;


Giai đoạn sau
width: 100%;

width: 0;
*/

.box-2::before {
    content: '';
    height: 5px;
    background-color: red;
    display: block;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    transition: left 1s;
}
.box-2:hover::before {
    left: 0;
}



.box-3::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    bottom: 0;
    width: 5px;
    transition: top 300ms;
    background-color: red;
}
.box-3:hover::before {
    top: 0;
}


.box-4::before, .box-4::after {
    content: '';
    position: absolute;
    transition: width 1s;
    background-color: red;
    height: 5px;
    width: 0;
}
.box-4::before {
    top: 0;
    left: 0;
}   
.box-4::after {
    bottom: 0;
    right: 0;
}
.box-4:hover::before, .box-4:hover::after {
    width: 100%;
}


.box-5::before, .box-5::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    height: 5px;
    background-color: red;
    transition: left 0.4s, right 0.4s;
}
.box-5::before {
    top: 0;
}
.box-5::after {
    bottom: 0;
}
.box-5:hover::after, .box-5:hover::before {
    left: 0;
    right: 0;
}


.box-5 span::before, .box-5 span::after {
    content: '';
    position: absolute;
    /* left: 0; */
    top: 50%;
    bottom: 50%;
    width: 5px;
    background-color: red;
    transition: all 1s linear;
}
.box-5 span::before {
    left: 0;
}
.box-5 span::after {
    right: 0;
}
.box-5:hover span::before, .box-5:hover span::after  {
    top: 0;
    bottom: 0;
}


.box-6::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transition: all 1s;
    border: 5px solid red;
}
.box-6:hover::before {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.box-7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    transition: all 1s;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    pointer-events: none;
}
.box-7:hover::before {
    left: 0;
    right: 0;
}
.box-7::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    transition: all 1s;
    border-left: 5px solid red;
    border-right: 5px solid red;
    pointer-events: none;
}
.box-7:hover::after {
    top: 0;
    bottom: 0;
}


.box-8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    /* transition: all 1s; */
    height: 5px;
    background-color: red;
}
.box-8:hover::before {
    transition: all 1s;
    right: 0;
}

.box-8::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 100%;
    width: 5px;
    /* transition: all 1s 1s; */
    background-color: red;
}
.box-8:hover::after {
    transition: all 1s 1s;
    bottom: 0;
}

.box-8 span::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 5px;
    left: 100%;
    /* transition: all 1s 2s; */
    background-color: red;
}
.box-8:hover span::before {
    transition: all 1s 2s;
    left: 0;
}

.box-8 span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100%;
    width: 5px;
    background-color: red;
    /* transition: all 1s 3s; */
}
.box-8:hover span::after {
    transition: all 1s 3s;
    top: 0;
}


.box-9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    border-top: 5px solid blue;
    border-right: 5px solid blue;
}
.box-9:hover::before {
    transition: width 0.3s, height 0.3s 0.3s;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.box-9::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 5px solid blue;
    border-left: 5px solid blue;
    opacity: 0;
}
.box-9:hover::after {
    transition: width 0.3s 0.6s, height 0.3s 0.9s, opacity 0s 0.6s;
    opacity: 1;
    width: 100%;
    height: 100%;
}



.btn {
    margin-right: 100px;
}
.btn-1 {
    position: relative;
    border: 2px solid #333;
    background-color: #fff;
    padding: 15px 40px;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
    transition: color 0.3s;
}
.btn-1::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: -1;
    transition: bottom 0.2s;
    background-color: #333;
}

.btn-1:hover {
    color: #fff;
}
.btn-1:hover::before {
    bottom: 0;
}
/* .btn-1 span {
    position: relative;
    z-index: 2;
} */

.btn-2 {
    position: relative;
    border: 2px solid #333;
    background-color: #fff;
    padding: 15px 40px;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
    transition: color 0.3s;
    overflow: hidden;
}
.btn-2::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s;
    background-color: #333;
    transform: translate(-100%);
}

.btn-2:hover {
    color: #fff;
}
.btn-2:hover::before {
    transform: translate(0);
}



.btn-3 {
    color: #fff;
    position: relative;
    border: 2px solid #333;
    background-color: #333;
    padding: 15px 40px;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
    transition: color 0.3s;
}
.btn-3::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    pointer-events: none;
    background-color: rgba(255,255,255, 0.2);
    transition: transform 0.4s;
    transform: translate(-75%, -60%) rotate(-45deg);
}
.btn-3:hover::before {
    transform: translate(75%, 60%) rotate(-45deg);
}



.demo-images {
    margin: 100px;
    width: 450px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.6);
    position: relative;
    /* background-color: red; */
}
.demo-images img {
    width: 100%;
    display: block;
    /* opacity: 1; */
    /* transition: all 0.3s; */
}
.demo-images:hover img {
    /* opacity: 0.6 */
}
.demo-images .title {
    position: absolute;
    font-size: 28px;
    text-transform: uppercase;
    font-family: sans-serif;
    left: 40px;
    bottom: 50px;
    color: #fff;
    transition: all 0.3s;
    z-index: 2;
}
.demo-images .title span:nth-child(2) {
    font-weight: bold;
}
.demo-images .title span:nth-child(3) {
    opacity: 0;
    transition: all 0.3s;
}
.demo-images::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 2;
}
.demo-images::before {
    content: '';
    position: absolute;
    opacity: 0.7;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: top 0.3s;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,3,51,0.49) 54%, rgba(0,3,51,0.8) 88%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(54%, rgba(0,3,51,0.49)), color-stop(88%, rgba(0,3,51,0.8)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,3,51,0.49) 54%, rgba(0,3,51,0.8) 88%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,3,51,0.49) 54%, rgba(0,3,51,0.8) 88%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,3,51,0.49) 54%, rgba(0,3,51,0.8) 88%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,3,51,0.49) 54%, rgba(0,3,51,0.8) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000333', GradientType=0 );
}


.demo-images:hover::before {
    top: 0;
}
.demo-images:hover::after {
    height: 10px;
}
.demo-images:hover .title {
    bottom: 30px;
}
.demo-images:hover .title span:nth-child(3) {
    opacity: 1;
}