

h1 {
    text-align: center;
}

pre {
    text-align: center;
    font-size: 18px;
}

.green {
    color: #006600;
}

.me {
    color: #ff3399;
    background-color: #F7AEE5;
}

.blue {
    color: #0000FF;
}
.red {
    color: red;
}

.yellow {
    background-color: #ffffcc;
}

hr {
    width: 30%;
}