* {
    margin: 0;
    padding: 5px;
}

.title {
    text-align: center;
    color: #F27230;
    /* border-style: double; */
    border: 5px double #F38737;
    width: 60%;
    margin: auto;
}

.bol-und {
    text-decoration: underline;
    font-weight: bold;
}

.mt-40 {
    margin-top: 40px;
}

.bth{
    background-color: #F16530;
    color: #ffffff;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 40px 0;
}

.red {
    color:red;
}

.bold {
    font-weight: bold;
}

.mark {
    background-color: #FDCB30;
}

.align-right {
    text-align: right;
}

.first {
    font-size: 4em;;
    font-weight: bold;
    color: #9A291B;
}