.post-item__images {
  position: relative;
}

.post-item__images::before {
  content: '';
  display: block;
  padding-top: 75%;
  background-color: aqua;
}
.post-item__images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}